@model Supplier
@{
    ViewBag.Title = "Edit Supplier";
}

<h1>Edit Supplier</h1>

<div class="card">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName)
            @Html.TextBoxFor(m => m.CompanyName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactPerson)
            @Html.TextBoxFor(m => m.ContactPerson)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { type = "email" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IsActive)
            @Html.CheckBoxFor(m => m.IsActive)
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/Supplier" class="btn btn-danger" style="margin-left:10px;">Cancel</a>
    }
</div>
